@charset "utf-8";
/* CSS Document */

body {
	 background: linear-gradient(to right, rgba(69,178,236), rgba(25,118,210));
}

.content {
	background-color: #FFFFFF;
}
.img-card {
	height: auto;
	width: 300px;
}

.card {
	margin-bottom: 20px;
}
.img-card img {
	object-fit: cover;
	height: 200px
}


/* @media tags */
@media screen and (min-width: 992px) /*Desktop*/ {
	.content {
		margin-top: 50px; 
	}
	.card {
		width: 100%;
	}
}

@media screen and (max-width: 991px) {
	.card {
		width: 100%;
	}
}

@media screen and (max-width: