@charset "utf-8";
/* CSS Document */

body {
	 background: linear-gradient(to right, rgba(69,178,236), rgba(25,118,210));
}

.content {
	background-color: #FFFFFF;
}
.img-card {
	height: auto;
	width: 300px;
}

.card {
	margin-bottom: 20px;
}
.img-card img {
	object-fit: cover;
	height: 200px
}

.inleiding img {
	object-fit: cover;
	height: 200px;
	width: 60%;
}
.img-container {
	border-radius: 25px;
}

.custom-footer {
	width: 100%;
	background-color: white;
	height: 100px;
	padding-top: 20px;
	text-align: center;
}

.custom-footer-bottom {
	background-color: #4285f4;
	height: 60px;
	bottom: 0px;
	padding-top: 20px;
	text-decoration: none;
	color: white;
}

.custom-footer-bottom a {
	color: white;
}

/* @media tags */
@media screen and (min-width: 992px) /*Desktop*/ {
	.content {
		margin-top: 50px !important;
		border-radius: 5px;
		margin-bottom: 30px;
	}
	.card {
		width: 100%;
	}
	.inleiding {
		width: 50%;
	}
}

@media screen and (min-width: 600px) /*Tablet en Hoger*/ {
	.content {
		
		margin-top: 40px;
		border-radius: 5px;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 991px) /*Tablet en Lager*/ {
	.card {
		width: 100% !important;
	}
}

@media screen and (max-width: 600px) /*Smartphone*/ {
	
}

